* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color: black;
    color: #fff;
}

.leftwrapper{
    background-color: #aeafaf;
}

.leftWrapper-navbar h2 span{
    font-size: 12px;
}

.leftWrapper-lower-container i{
    transition:  0.3s;
    padding: 6px;
    margin: 0 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.leftWrapper-lower-container i:hover{
    background-color: rgb(63, 63, 62);
    color: #fff;
}

.leftWrapper-lower-containers i:hover{
    background-color:#262626;
    color: #fff;
}

.recents h4{
    color: #aeafaf;
}
.recents h4:hover {
    color: #fff;
}

.nav-h3 {
    margin: 0 5px;
    border-radius: 15px;
    background-color: #262626;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    cursor: pointer;
}

.nav-h3 i {
    margin-top: 5px;
}

/* Track */
::-webkit-scrollbar {
    width: 5px; /* width of the scrollbar */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* color of the scrollbar handle */
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px; 
    height: 10px;/* roundness of the scrollbar handle */
  }
  
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: inherit; /* color of the scrollbar track */
  }
  
nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    margin: 0 5px;
}

.nav ul li button{
    padding: 7px 20px;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
}

.nav ul li .black-bg{
    background-color: black;
    color: #fff;
}